@media screen and (max-width: 1400px) {
	.image-block.feature-image-block{
		& .image-inner{
			height: 700px;
			background-image: url(../images/feature-illy-med.svg);
		}
	}	
}
@media screen and (max-width: 1100px) {
	.image-block.feature-image-block.hidden-phone{
		display: none!important;
	}	
	.feature-phone-image-block.image-block.hidden-desktop{
		height: 450px;
		display: block!important;
		background-color: #2bacf9;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: -1;
	}
}
/* ========= iPad Styles ========= */
@media screen and (max-width: 1000px) {
	/* ======== Base Styles ======== */
	.visible-tablet{
		display: block!important;
	}
	.hidden-tablet{
		display: none!important;
	}
	.hidden-desktop{
		display: block!important;
	}
	
	/* ======== Modals ======== */
	.modal{
		top: 5%;
	}
	.feature{
		height: 450px;
		
		z-index: 1;
		
		& .logo{
			height: 120px;
			top: 0px;
			background-size: 150px;
		}
	}
	.image-block{
		height: 450px;
		background-color: #2bacf9;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: -1;
		
		&.hidden-desktop{
			display: none!important;
		}
	}
	.dl-btn{
		display: none;
	}
	.challenge-block{
		.hidden-phone img{
			margin-left: -100px;
			margin-top: 50px;
		}
		.hidden-desktop{
			display: none!important;
		}
	}
}

/* ========= Phone Styles ========= */
@media screen and (max-width: 650px) {
	/* ======== Base Styles ======== */
	html {
		font-size: 0.875em;
		-webkit-text-size-adjust:100%;
	}
	.grid {
		margin-left: 0;
		max-width: none;
	}
	.unit {
		width: auto;
		margin-left: 0;
		display: block;
	}
	.hidden-phone{
		display: none!important;
	}
	.hidden-desktop{
		display: block!important;
		
		&.image-block{
			display: block!important;
		}
	}
	body{
		font-size: 0.875em;
	}
	h1, .h1 {
	  font-size: 36px; 
	}
	h2, .h2 {
	  font-size: 22px;
	}
	h3, .h3 {
	  font-size: 18px;
	}
	h4, .h4 {
	  font-size: 16px;
	}
	h5, .h5 {
	  margin-top: 20px;
	  font-size: 14px;
	}
	h6, .h6 {
	  margin-top: 20px;
	  font-size: 12px;
	}
	p {
	  margin-top: 0;
	  margin-bottom: 10px;
	  font-size: 16px;
	}	
	.btn, .content-block.intro-block .btn{
		font-size: 20px;
		padding: 15px 30px;
	}
	
	// Image Blocks
	.image-block {
		width: 100%;
		height: 300px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
	}
	.cloud-wrap{
		z-index: 5;
		display: none;
	}
	
	
	/* ======== Modals ======== */
	.modal{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
	.modal .container{
		padding: 0;
	}
	.modal-content{
		-moz-box-shadow: 0 0 8px rgba(38, 70, 88, 0.7);
		-webkit-box-shadow: 0 0 8px rgba(38, 70, 88, 0.7);
		box-shadow: 0 0 8px rgba(38, 70, 88, 0.7);
	}
	.modal .content-header{
		padding: 40px 3% 0;
		width: 100%;
		position: fixed;
		background: rgba(255,255,255,0.96);
		z-index: 10;
		-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
		
	}
	.modal .content-header .modal-nav{
		display: block;
		bottom: 0;
		margin: 0 0 15px;
		position: relative;
		right: auto;
	}
	.modal-content .modal-close-btn{
		top: 10px;
		right: 10px;
		position: fixed;
	}
	.modal .content-header .modal-nav a{
		margin-left: 0;
		margin-right: 10px;
	}
	.feature{
		& .logo{
			height: 80px;
			background-size: 120px;
			margin: 0;
		}
	}
	.feature-phone-image-block.image-block.hidden-desktop{
		height: 300px;
	}
	
	.gmap-block{
		z-index: -1;
	}
	
	
	// .content-block
	.content-block{
		
		& h2.subheadline{
			font-size: 28px;
		}
		&.description-block p{
			font-size: 18px;
		}
		&.intro-block{
			padding-top: 30px;
			padding-bottom: 50px;
			
			& .btn{
				margin: 0 auto;
			}	
			
			& .headlines{
				margin-bottom: 30px;
				
				& h2.subheadline{
					font-size: 20px;
				}
			}
		}
		
		&.feature-block{
			box-shadow: $drop-bottom-shadow;
		
			& .features-slider{
				height: 400px;
				
				& button.slick-prev, & button.slick-next{
					display: none!important;
				}
				& .slick-dots{
					bottom: 20px;
				}
				
				& .slide{

					& h2{
						display: none;
					}
					
					&:before{
						background-size: 110px!important;
						background-position: center 75px!important;
					}
					&.banter-slide:before{
						background-size: 155px!important;
						background-position: center 65px!important;
					}
					&.challenge-slide:before{
						background-size: 190px!important;
						background-position: center 70px!important;
					}
					&.organise-slide:before{
						background-size: 130px!important;
						background-position: center 65px!important;
					}
					&.tour-slide:before{
						background-size: 120px!important;
						background-position: center 65px!important;
					}
					& h1{
						padding-top: 230px;
						font-size: 32px;
					}
					& .h3{
						font-size: 16px;
					}
				}
			}
		}
		
		
		&.description-block{
			text-align: center;
			
			&.scan-block{
				box-shadow: $drop-top-shadow;
			}
			
			& .description{
				padding-left: 0;
				padding-right: 0;
			}
			& p{
				margin-right: 0;
			}
			& .icon{
				margin: 3px auto 40px;
				display: table;
			}
			&.challenge-block .icon{
				margin-top: 3px;
			}
			&.right-block .description{
				padding-left: 0;
				padding-right: 0;
			}
			& .img-container{
				margin-top: 30px;
			}
			&.group-block .img-container{
				padding: 0 30px;
				margin-left: 0;
				
				&.viewed{
					margin-left: 0!important;
				}
			}
		}
		
		&.challenge-block{
			& .hidden-desktop{
				display: block!important;
				padding-right: 0;
				
				& img{
					margin-left: -100px;
					margin-top: 0;
				}
			}
		}
		
	}
	// /.content-block
	
}