@media screen and (max-width: 1400px) {
	.image-block.feature-image-block{
		& .image-inner{
			height: 700px;
			background-image: url(../images/feature-illy-lrg.svg)!important;
		}
	}	
}
@media screen and (max-width: 1100px) {
	.image-block.feature-image-block{
		& .image-inner{
			height: 700px;
			background-image: url(../images/feature-illy-med.svg)!important;
		}
	}	
}
/* ========= iPad Styles ========= */
@media screen and (max-width: 1000px) {
	/* ======== Base Styles ======== */
	.visible-tablet{
		display: block!important;
	}
	.hidden-tablet{
		display: none!important;
	}
	.hidden-desktop{
		display: block!important;
	}
	
	/* ======== Modals ======== */
	.modal{
		top: 5%;
	}
	.feature{
		height: 450px;
		
		z-index: 1;
		
		& .logo{
			height: 120px;
			top: 0px;
			background-size: 150px;
		}
	}
	.image-block{
		height: 450px;
		background-color: #2bacf9;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: -1;
	}
	.dl-btn{
		display: none;
	}
}

/* ========= Phone Styles ========= */
@media screen and (max-width: 650px) {
	/* ======== Base Styles ======== */
	html {
		font-size: 0.875em;
		-webkit-text-size-adjust:100%;
	}
	.grid {
		margin-left: 0;
		max-width: none;
	}
	.unit {
		width: auto;
		margin-left: 0;
		display: block;
	}
	.hidden-phone{
		display: none!important;
	}
	.hidden-desktop{
		display: block!important;
	}
	body{
		font-size: 0.875em;
	}
	h1, .h1 {
	  font-size: 48px; 
	}
	h2, .h2 {
	  font-size: 24px;
	}
	h3, .h3 {
	  font-size: 18px;
	}
	h4, .h4 {
	  font-size: 16px;
	}
	h5, .h5 {
	  margin-top: 20px;
	  font-size: 14px;
	}
	h6, .h6 {
	  margin-top: 20px;
	  font-size: 12px;
	}
	p {
	  margin-top: 0;
	  margin-bottom: 10px;
	  font-size: 16px;
	}	
	
	// Image Blocks
	.image-block {
		width: 100%;
		height: 300px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
	}
	.cloud-wrap{
		z-index: 5;
		display: none;
	}
	
	
	/* ======== Modals ======== */
	.modal{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
	.modal .container{
		padding: 0;
	}
	.modal-content{
		-moz-box-shadow: 0 0 8px rgba(38, 70, 88, 0.7);
		-webkit-box-shadow: 0 0 8px rgba(38, 70, 88, 0.7);
		box-shadow: 0 0 8px rgba(38, 70, 88, 0.7);
	}
	.modal .content-header{
		padding: 40px 3% 0;
		width: 100%;
		position: fixed;
		background: rgba(255,255,255,0.96);
		z-index: 10;
		-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
		
	}
	.modal .content-header .modal-nav{
		display: block;
		bottom: 0;
		margin: 0 0 15px;
		position: relative;
		right: auto;
	}
	.modal-content .modal-close-btn{
		top: 10px;
		right: 10px;
		position: fixed;
	}
	.modal .content-header .modal-nav a{
		margin-left: 0;
		margin-right: 10px;
	}
	.feature{
		& .logo{
			height: 80px;
			background-size: 120px;
			margin: 0;
		}
	}
}