/* ======= OSX Safari Styles ======= */
.safari-mac .image-inner{
	background-attachment: fixed!important;
}
@media screen and (max-width: 1400px) {
	.image-block.feature-image-block{
		& .image-inner{
			height: 700px;
			background-image: url(../images/feature-illy-med.svg);
		}
	}	
}
@media screen and (max-width: 1100px) {
	.image-block.feature-image-block.hidden-phone{
		display: none!important;
	}	
	.feature-phone-image-block.image-block.hidden-desktop{
		height: 450px;
		display: block!important;
		background-color: #2bacf9;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: -1;
		/*-webkit-animation: pulse-large 12s infinite;
		-animation: pulse-large 12s infinite;*/
	}
	.feature-phone-image-block-wrap{
		padding: 0;
		overflow: hidden;
	}
	.pulsate, .icon, .pulsate-scale, .feature-block .features-slider .slide:before, .logo {
	    -moz-animation: none!important;
	    -webkit-animation: none!important;
	    -animation: none!important;
	}
	.safari-mac .image-inner{
		background-attachment: scroll!important; 
	}
	.animBlock{
		opacity: 1;
		filter: alpha(opacity=100);
		
		&[data-position="right"]{
			right: 0;
		}	
		&[data-position="left"]{
			left: 0;
		}	
	}
	.feature{
		& .logo{
			height: 120px;
			top: -10px;
			background-size: 140px;
		}
		
		& .cloud-wrap{
		
			& .cloud{
				-webkit-animation: none!important;
				-moz-animation: none!important;
				-o-animation: none!important;
				opacity: 1!important;
				
				&.x1 {
					
				}
				&.x2 {
					left: 680px;
				}
				&.x3 {
					left: 150px;
				}
				&.x4 {
					left: 700px;
					top: -450px;
				}
				&.x5 {
					left: 250px;
				}
			}
		}
	}
	
}
/* ========= iPad Styles ========= */
@media screen and (max-width: 1000px) {
	/* ======== Base Styles ======== */
	.visible-tablet{
		display: block!important;
	}
	.hidden-tablet{
		display: none!important;
	}
	.hidden-desktop{
		display: block!important;
	}
	
	.feature{
		height: 450px;
		
		z-index: 1;
		
		& .logo{
			height: 120px;
			top: 0px;
			background-size: 150px;
		}
	}
	.image-block{
		height: 450px;
		background-color: #2bacf9;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: -1;
		
		&.hidden-desktop{
			display: none!important;
		}
	}
	.dl-btn{
		display: none;
	}	
	.challenge-block{
		.hidden-phone img{
			margin-left: -100px;
			margin-top: 50px;
		}
		.hidden-desktop{
			display: none!important;
		}
	}
	.download-block{
		
		& .btn.purple-btn.hidden-desktop.hidden-tablet{
			display: none!important;
		}
	}
}

/* ========= Phone Styles ========= */
@media screen and (max-width: 650px) {
	/* ======== Base Styles ======== */
	html {
		font-size: 0.875em;
		-webkit-text-size-adjust:100%;
	}
	.grid {
		margin-left: 0;
		max-width: none;
	}
	.unit {
		width: auto;
		margin-left: 0;
		display: block;
	}
	.hidden-phone{
		display: none!important;
	}
	.hidden-desktop{
		display: block!important;
		
		&.image-block{
			display: block!important;
		}
	}
	body{
		font-size: 0.875em;
	}
	h1, .h1 {
	  font-size: 36px; 
	}
	h2, .h2 {
	  font-size: 22px;
	}
	h3, .h3 {
	  font-size: 18px;
	}
	h4, .h4 {
	  font-size: 16px;
	}
	h5, .h5 {
	  margin-top: 20px;
	  font-size: 14px;
	}
	h6, .h6 {
	  margin-top: 20px;
	  font-size: 12px;
	}
	p {
	  margin-top: 0;
	  margin-bottom: 10px;
	  font-size: 16px;
	}	
	.btn, .content-block.intro-block .btn{
		font-size: 20px;
		padding: 15px 30px;
	}
	.content-block.intro-block a.btn.hidden-desktop.hidden-tablet{
		display: table!important;
	}
	.md-modal, .md-overlay{
		display: none;
	}
	
	// Image Blocks
	.image-block {
		width: 100%;
		height: 300px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
	}
	.cloud-wrap{
		z-index: 5;
		display: none;
	}
	
	
	/* ======== Modals ======== */
	.modal{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
	.modal .container{
		padding: 0;
	}
	.modal-content{
		-moz-box-shadow: 0 0 8px rgba(38, 70, 88, 0.7);
		-webkit-box-shadow: 0 0 8px rgba(38, 70, 88, 0.7);
		box-shadow: 0 0 8px rgba(38, 70, 88, 0.7);
	}
	.modal .content-header{
		padding: 40px 3% 0;
		width: 100%;
		position: fixed;
		background: rgba(255,255,255,0.96);
		z-index: 10;
		-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
		
	}
	.modal .content-header .modal-nav{
		display: block;
		bottom: 0;
		margin: 0 0 15px;
		position: relative;
		right: auto;
	}
	.modal-content .modal-close-btn{
		top: 10px;
		right: 10px;
		position: fixed;
	}
	.modal .content-header .modal-nav a{
		margin-left: 0;
		margin-right: 10px;
	}
	.feature{
		& .logo{
			height: 80px;
			background-size: 120px;
			margin: 0;
		}
	}
	.feature-phone-image-block.image-block.hidden-desktop{
		height: 300px;
	}
	
	.gmap-block{
		z-index: -1;
	}
	
	.main-footer{
		text-align: center;
		
		& nav{
			padding-top: 10px;
			
			& a{
				margin-left: 15px;
				margin-right: 15px;
			}
		}
	}
	
	// .content-block
	.content-block{
		padding-top: 50px;
		padding-bottom: 40px;
		
		&.download-block{
			padding-top: 50px;
			padding-bottom: 50px;
		}
		
		& h2.subheadline{
			font-size: 28px;
		}
		&.description-block p{
			font-size: 18px;
		}
		&.intro-block{
			padding-top: 30px;
			padding-bottom: 50px;
			
			& .btn{
				margin: 10px auto;
			}	
			
			& .headlines{
				margin-bottom: 30px;
				
				& h2.subheadline{
					font-size: 20px;
				}
			}
		}
		
		&.feature-block{
			box-shadow: $drop-bottom-shadow;
		
			& .features-slider{
				height: 400px;
				
				& button.slick-prev, & button.slick-next{
					display: none!important;
				}
				& .slick-dots{
					bottom: 20px;
				}
				
				& .slide{

					& h2{
						display: none;
					}
					
					&:before{
						background-size: 110px!important;
						background-position: center 50px!important;
					}
					&.banter-slide:before{
						background-size: 155px!important;
						background-position: center 40px!important;
					}
					&.challenge-slide:before{
						background-size: 190px!important;
						background-position: center 40px!important;
					}
					&.organise-slide:before{
						background-size: 130px!important;
						background-position: center 35px!important;
					}
					&.tour-slide:before{
						background-size: 120px!important;
						background-position: center 30px!important;
					}
					& h1{
						padding-top: 190px;
						font-size: 32px;
						line-height: 1;
					}
					& .h3{
						font-size: 18px;
					}
				}
			}
		}
		
		
		&.description-block{
			text-align: center;
			
			&.scan-block{
				box-shadow: $drop-top-shadow;
			}
			
			& .description{
				padding-left: 0;
				padding-right: 0;
			}
			& p{
				margin-right: 0;
			}
			& .icon{
				margin: 3px auto 40px;
				display: table;
			}
			&.challenge-block .icon{
				margin-top: 3px;
			}
			&.right-block .description{
				padding-left: 0;
				padding-right: 0;
			}
			& .img-container{
				margin-top: 30px;
			}
			&.group-block .img-container{
				padding: 0 30px;
				margin-left: 0;
				
				&.viewed{
					margin-left: 0!important;
				}
			}
		}
		
		&.challenge-block{
			& .hidden-desktop{
				display: block!important;
				padding-right: 0;
				
				& img{
					margin-left: -100px;
					margin-top: 0;
				}
			}
		}
		&.organise-block{
			padding-top: 70px;
			
			& img{
				margin: 30px auto 55px;
				padding: 0;
			}
			& .img-container.hidden-desktop.hidden-tablet{
				display: block!important;
			}
			& .img-container.hidden-phone{
				display: none!important;
			}
		}
		&.teacher-block{
			& img{
				margin: -30px auto 30px;
				position: relative;
			}
			& .description{
				margin-left: 0!important;
				padding-left: 0!important;
			}
			
		}
		&.download-block{
			
			.btn.purple-btn.hidden-desktop.hidden-tablet, .btn.blue-btn.hidden-desktop.hidden-tablet{
				display: table!important;
				margin: 10px auto 0;
			}
			
		}
		
	}
	// /.content-block
	
	// .md-modal
	.md-modal{
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		min-height: 0;
		min-width: 0;
		max-width: 100%;
		-webkit-transform: translateX(0) translateY(0);
		-moz-transform: translateX(0) translateY(0);
		-ms-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
		
		& .md-content{
			
			position: fixed;
			border-radius: 0;
			
			& .md-close{
				right: -8px;
			}
			& a.one-of-two{
				display: block;
				margin-bottom: 20px;
				width: 94%;
			}
		}
	}
	// /.md-modal
	
}